.container{

    padding: 20px;
    margin-top: 30px;
    background-color: beige;
    height: 1000px;
}
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d3a5f;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #194092;
}

.active {
    background-color: #497992;
}
p{
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;

}
.footer {
    margin: 10px ;
    height: 45px;
    font-family: "Baskerville Old Face";
    background-color: cornsilk;
}
.container2{
    padding: 10px;
    margin-right: auto;
    font-family: "sans-serif,Arial Black,Franklin Gothic Book";
}